<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="text-left col-md-4 "><a href="#" (click)="backClicked($event)">
        <nb-icon icon="arrow-back-outline"></nb-icon>
        Previous</a></div>
      <div class="text-left col-md-8 ">
      </div>
      <div class="text-left col-md-4 "><a hidden id="refreshButtonId" href="#" (click)="refreshGrid($event)"><nb-icon icon="refresh-outline"></nb-icon></a></div>
    </div>
  </nb-card-header>
  <nb-card-body [nbSpinner]="mainDataLoading" nbSpinnerStatus="primary">
    <div class="row p-5 " [nbSpinner]="actionSpinnerLoading" nbSpinnerStatus="primary">
     <nb-select shape="semi-round" [(ngModel)]="lockState"    #lockRequestWF="ngModel" name="lockRequestWF" required size="large"  placeholder="Locking Actions..."
                id="lockRequestWFId"  (ngModelChange)="saveRateLock(lockState)" >
       <nb-option  [disabled]="disableActionItem(lock_work_flow.key)"  *ngFor="let lock_work_flow of lockRequestStatusType.taxonomyItems"
                   [value]="lock_work_flow.key">{{lock_work_flow.description}}</nb-option>
    </nb-select>

    </div>
    <nb-alert accent="success"  *ngIf="lockLoanSuccessful" size="small" >
      {{lockLoanActionSuccessMessage}}
    </nb-alert>
    <nb-alert accent="success"  *ngIf="lockLoanFailure" size="small" >
      Unable to Lock the loan.
    </nb-alert>
    <ng-container >
      <div *ngIf="initialLockLoan?.lockStatus == LockStatusType.locked">
      <div class="row p-2 tableheader">
        <div class="col-12 pl-3"><strong>Lock Data</strong></div>

      </div>

      <div class="row p-2 row-striped dohover">
        <div class="col-4 ">Lock  Days</div>
        <div class="col-4">{{initialLockLoan?.lockDays }}</div>
        <div class="col-4"></div>
      </div>
      <div class="row p-2 row-striped dohover">
        <div class="col-4 ">Lock Expiration Date</div>
        <div class="col-4">{{initialLockLoan?.lockExpirationDate | date: 'MM/dd/yyyy hh:mm aa'}}</div>
        <div class="col-4"></div>
      </div>
        <div class="row p-2 row-striped dohover">
          <div class="col-4 ">Is Lock Expired</div>
          <div class="col-4">{{initialLockLoan?.lockExpired}}</div>
          <div class="col-4"></div>
        </div>


        <div class="row p-2 row-striped dohover" >
          <div class="col-4 ">Note Rate</div>
          <div class="col-4">{{initialLockLoan?.selectedQuote.rate |number : '1.2-2'}}</div>
          <div class="col-4"></div>

        </div>

       </div>
      <div class="row p-2 row-striped dohover" >
        <div class="col-4 ">Lock Status</div>
        <div class="col-4">{{initialLockLoan?.lockStatusStr}}
          <fa-icon *ngIf="initialLockLoan?.lockStatus==102" size="1x" [icon]="lock" class="m-1"></fa-icon>
          <fa-icon *ngIf="!initialLockLoan.lockStatus || initialLockLoan?.lockStatus==101" size="1x" [icon]="unlock" class="m-1"></fa-icon>
        </div>
        <div class="col-4"></div>
      </div>
      <div class="row p-2 row-striped dohover">
        <div class="col-4 ">Loan Number</div>
        <div class="col-4">{{loanInfo.loanNumber}}</div>
        <div class="col-4"></div>
      </div>
      <div class="row p-2 tableheader">
        <div class="col-4 pl-3"><strong>Deal Data</strong></div>
        <div class="col-4"><strong>Initial</strong></div>
        <div class="col-4 pr-3"><strong>Final</strong></div>
      </div>
      <div class="row p-2 row-striped dohover">
        <div class="col-4 ">Loan Type</div>
        <div class="col-4">{{initialLock?.loanType?.name}}</div>
        <div class="col-4">{{finallock?.loanType?.name}}</div>
      </div>
      <div class="row p-2 row-striped dohover">
        <div class="col-4 ">Purpose</div>
        <div class="col-4">{{initialLock?.purpose?.name}}</div>
        <div class="col-4">{{finallock?.purpose?.name}}</div>
      </div>
      <div class="row p-2 row-striped dohover">
        <div class="col-4 ">Loan Amount</div>
        <div class="col-4">{{initialLock?.loanAmount | number : '1.2-2'}}</div>
        <div class="col-4">{{finallock?.loanAmount | number : '1.2-2'}}</div>
      </div>
      <div class="row p-2 row-striped dohover" >
        <div class="col-4 ">Purchase Price</div>
        <div class="col-4">{{initialLock?.purchasePrice | number : '1.2-2'}}</div>
        <div class="col-4">{{finallock?.purchasePrice | number : '1.2-2'}}</div>
      </div>
      <div class="row p-2 row-striped dohover">
        <div class="col-4 ">Appraisal Amount</div>
        <div class="col-4">{{initialLock?.appraisalValue |number : '1.2-2'}}</div>
        <div class="col-4">{{finallock?.appraisalValue |number : '1.2-2'}}</div>
      </div>
      <div class="row p-2 row-striped dohover">
        <div class="col-4 ">Occupancy</div>
        <div class="col-4">{{initialLock?.occupancy?.name}}</div>
        <div class="col-4">{{finallock?.occupancy?.name}}</div>
      </div>
      <div class="row p-2 row-striped dohover">
        <div class="col-4 ">Escrow Waiver</div>
        <div class="col-4">{{initialLock?.escrowWaiver}}</div>
        <div class="col-4">{{finallock?.escrowWaiver}}</div>
      </div>
      <div class="row p-2 row-striped dohover">
        <div class="col-4 ">Property Type</div>
        <div class="col-4">{{initialLock?.propertyType?.name}}</div>
        <div class="col-4">{{finallock?.propertyType?.name}}</div>
      </div>
      <div class="row p-2 row-striped dohover">
        <div class="col-4 ">LTV/CLTV</div>
        <div class="col-4">{{initialLock?.ltvRatioPercent |number : '1.3-3' }}
          /{{initialLock?.combinedLtvRatioPercent |number : '1.3-3'}}</div>
        <div class="col-4">{{finallock?.ltvRatioPercent |number : '1.3-3' }}
          /{{finallock?.combinedLtvRatioPercent |number : '1.3-3'}}</div>
      </div>

      <div class="row p-2 row-striped dohover" >
        <div class="col-4 ">Credit Score</div>
        <div class="col-4">{{initialLock?.creditScore}}</div>
        <div class="col-4">{{finallock?.creditScore}}</div>
      </div>
      <div class="row p-2 row-striped dohover">
        <div class="col-4 ">Subject Property Zip</div>
        <div class="col-4">{{initialLock?.subjectPropertyAddress?.zipCode}}</div>
        <div class="col-4">{{finallock?.subjectPropertyAddress?.zipCode}}</div>
      </div>

      <div class="row p-2 row-striped dohover">
        <div class="col-4 ">Term</div>
        <div class="col-4">{{initialLock?.term}}</div>
        <div class="col-4">{{finallock?.term}}</div>
      </div>
      <div class="row p-2 row-striped dohover">
        <div class="col-4 ">Units</div>
        <div class="col-4">{{initialLock?.units}}</div>
        <div class="col-4">{{finallock?.units}}</div>
      </div>
      <div *ngIf="initialLockLoan?.lockStatus == LockStatusType.locked">
        <div class="row p-2 tableheader">
          <div class="col-6 pl-3"><strong>Adjustments</strong></div>
          <div class="col-6 "></div>

        </div>
        <div class="row p-2 row-striped  dohover"    >
          <div class="col-4 ">Base Price</div>
          <div class="col-4 ">{{basePrice}}</div>
          <div class="col-4 "></div>
        </div>
        <div *ngFor="let adjustment of initialLockLoan?.productDetail?.adjustments ;let i = index">
        <div class="row p-2 dohover " [ngClass]="{'row-striped': i % 2==0}">
          <div class="col-4 ">{{adjustment.reason}}</div>
          <div class="col-4 ">{{adjustment.adjustor | number : '1.3-3'}}</div>
        </div>
        </div>
        <div class="row p-2 dohover row-striped">
          <div class="col-4 ">Price</div>
          <div class="col-4">{{initialLockLoan?.selectedQuote.price |number : '1.3-3'}}</div>
          <div class="col-4 "></div>
          <div class="col-4 "></div>
        </div>




      </div>
    </ng-container>
    <hr>
    <div class="row p-2 tableheader">
      Lock WorkFlow
    </div>
    <br>

    <ag-grid-angular
      style="width: 1025px; height: 350px;"
      #grid
      class="ag-theme-alpine"
      [rowData]="rowData | async"
      [columnDefs]="columnDefs"
      [pagination]="true"
      paginationPageSize="100"
      debounceVerticalScrollbar=true
      enableCellTextSelection=true
      [gridOptions]="gridOptions"
      [rowClassRules]="rowClassRules"


    >
    </ag-grid-angular>



  </nb-card-body>

</nb-card>

