<nb-card>
  <nb-card-header>
    <div class="row dontprintthissection">
      <div class="text-left col-md-4 "><a href="#" (click)="backClicked($event)">
        <nb-icon icon="arrow-back-outline"></nb-icon>
        Previous</a></div>
      <div class="text-left col-md-8 ">
      </div>
      <div class="text-left col-md-4 "><a hidden id="refreshButtonId" href="#" (click)="refreshGrid($event)"><nb-icon icon="refresh-outline"></nb-icon></a></div>
    </div>
  </nb-card-header>
  <nb-card-body >

    <ng-container *ngIf="lockLoanDataLoading else loadingOrError">
    <div class="row p-2 dontprintthissection" [nbSpinner]="actionSpinnerLoading" nbSpinnerStatus="primary">
     <div class="col-4"  *ngIf="lockRequestStatusType && lockRequestStatusType.taxonomyItems">
     <nb-select shape="semi-round" [(ngModel)]="lockState"    #lockRequestWF="ngModel" name="lockRequestWF" required size="large"  placeholder="Locking Actions..."
                id="lockRequestWFId"  (ngModelChange)="saveRateLockConfirmation(lockState)" >
       <nb-option  [disabled]="disableActionItem(lock_work_flow.key)"  *ngFor="let lock_work_flow of lockRequestStatusType.taxonomyItems"
                   [value]="lock_work_flow.key">{{lock_work_flow.description}}</nb-option>
    </nb-select>
    </div>
     <div class="col-4"  *ngIf="lockState == LockStatesType.ExtendLock5">
        <nb-select shape="semi-round" [(ngModel)]="lockExtensionDays"    #lockExntendDay="ngModel" name="lockExntendDay" required size="large"  placeholder="Lock Extension Days..."
                   id="lockRequestWFId"  (ngModelChange)="saveLockExtensionConfirmation(lockState,lockExtensionDays)" >
          <nb-option    *ngFor="let lockExtensionmaster of lockExtensionMaster"
                      [value]="lockExtensionmaster.numberOfDays">{{lockExtensionmaster.description}}</nb-option>
        </nb-select>
      </div>
      <div class="col-4">
       <button nbButton (click)="print()" ghost size="small"> <fa-icon  size="2x" [icon]="faprint" class="pt-1" ></fa-icon></button>
      </div>
    </div>
      <nb-alert accent="warning"  *ngIf="initialLockLoan && finalLockLoan && initialLockLoan.lockStatus && !finalLockLoan.repriceSuccess" size="medium" >
      The selected product rate for the  lock period is no more available...
      </nb-alert>
      <nb-alert accent="success"  *ngIf="lockLoanSuccessful" size="small" >
      {{lockLoanActionSuccessMessage}}
    </nb-alert>
    <nb-alert accent="success"  *ngIf="lockLoanFailure" size="small" >
      Unable to Lock the loan.
    </nb-alert>
    <ng-container >
      <div *ngIf="initialLockLoan?.lockStatus == LockStatusType.locked">
      <div class="row p-2 tableheader">
        <div class="col-12 pl-3"><strong>Lock Data</strong></div>

      </div>

      <div class="row p-2 row-striped dohover">
        <div class="col-4 ">Lock  Days</div>
        <div class="col-4">{{initialLockLoan?.lockDays }}</div>
        <div class="col-4"></div>
      </div>
      <div class="row p-2 row-striped dohover">
        <div class="col-4 ">Lock Expiration Date</div>
        <div class="col-4">{{initialLockLoan?.lockExpirationDate | date: 'MM/dd/yyyy hh:mm aa'}}</div>
        <div class="col-4"></div>
      </div>
        <div class="row p-2 row-striped dohover" *ngIf="initialLockLoan.lockExtensionDays">
          <div class="col-4 ">Lock Extension Days</div>
          <div class="col-4">{{totalLockExtensionDays }}</div>
          <div class="col-4"></div>
        </div>
        <div class="row p-2 row-striped dohover">
          <div class="col-4 ">Is Lock Expired</div>
          <div class="col-4">{{initialLockLoan?.lockExpired?'Yes':'No'}}</div>
          <div class="col-4"></div>
        </div>
        <div class="row p-2 row-striped dohover" >
          <div class="col-4 ">Note Rate</div>
          <div class="col-4">{{initialLockLoan?.selectedQuote.rate |number : '1.2-2'}}</div>
          <div class="col-4"></div>
        </div>
       </div>
      <div class="row p-2 row-striped dohover" >
        <div class="col-4 ">Lock Status</div>
        <div class="col-4">{{initialLockLoan?.lockStatusStr}}
          <fa-icon *ngIf="initialLockLoan && initialLockLoan?.lockStatus==102" size="1x" [icon]="lock" class="m-1"></fa-icon>
          <fa-icon *ngIf="initialLockLoan && !initialLockLoan.lockStatus || initialLockLoan?.lockStatus==101" size="1x" [icon]="unlock" class="m-1"></fa-icon>
        </div>
        <div class="col-4"></div>
      </div>
      <div class="row p-2 row-striped dohover">
        <div class="col-4 ">Loan Number</div>
        <div class="col-4">{{loanInfo.loanNumber}}</div>
        <div class="col-4"></div>
      </div>
      <div class="row p-2 tableheader">
        <div class="col-4 pl-3"><strong>Deal Data</strong></div>
        <div class="col-4"><strong>Initial</strong></div>
        <div class="col-4 pr-3"><strong>Final</strong></div>
      </div>

      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.loanType?.name != finallockLoanInfo?.loanType?.name ? 'rowhighlight' : 'row-striped'" >
        <div class="col-4 ">Loan Type</div>
        <div class="col-4">{{initialLockLoanInfo?.loanType?.name}}</div>
        <div class="col-4">{{finallockLoanInfo?.loanType?.name}}</div>
      </div>

      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.purpose?.name != finallockLoanInfo?.purpose?.name ? 'rowhighlight' : 'row-striped'">
        <div class="col-4 ">Purpose</div>
        <div class="col-4">{{initialLockLoanInfo?.purpose?.name}}</div>
        <div class="col-4">{{finallockLoanInfo?.purpose?.name}}</div>
      </div>
      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.loanAmount != finallockLoanInfo?.loanAmount ? 'rowhighlight' : 'row-striped'">
        <div class="col-4 ">Loan Amount</div>
        <div class="col-4">{{initialLockLoanInfo?.loanAmount | number : '1.2-2'}}</div>
        <div class="col-4">{{finallockLoanInfo?.loanAmount | number : '1.2-2'}}</div>
      </div>
      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.purchasePrice != finallockLoanInfo?.purchasePrice ? 'rowhighlight' : 'row-striped'">
        <div class="col-4 ">Purchase Price</div>
        <div class="col-4">{{initialLockLoanInfo?.purchasePrice | number : '1.2-2'}}</div>
        <div class="col-4">{{finallockLoanInfo?.purchasePrice | number : '1.2-2'}}</div>
      </div>
      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.appraisalValue != finallockLoanInfo?.appraisalValue ? 'rowhighlight' : 'row-striped'">
        <div class="col-4 ">Appraisal Amount</div>
        <div class="col-4">{{initialLockLoanInfo?.appraisalValue |number : '1.2-2'}}</div>
        <div class="col-4">{{finallockLoanInfo?.appraisalValue |number : '1.2-2'}}</div>
      </div>
      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.occupancy?.name != finallockLoanInfo?.occupancy?.name ? 'rowhighlight' : 'row-striped'">
        <div class="col-4 ">Occupancy</div>
        <div class="col-4">{{initialLockLoanInfo?.occupancy?.name}}</div>
        <div class="col-4">{{finallockLoanInfo?.occupancy?.name}}</div>
      </div>
      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.escrowWaiver != finallockLoanInfo?.escrowWaiver ? 'rowhighlight' : 'row-striped'">
        <div class="col-4 ">Escrow Waiver</div>
        <div class="col-4">{{initialLockLoanInfo?.escrowWaiver?'Yes':'No'}}</div>
        <div class="col-4">{{finallockLoanInfo?.escrowWaiver?'Yes':'No'}}</div>
      </div>
      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.propertyType?.name != finallockLoanInfo?.propertyType?.name ? 'rowhighlight' : 'row-striped'">
        <div class="col-4 ">Property Type</div>
        <div class="col-4">{{initialLockLoanInfo?.propertyType?.name}}</div>
        <div class="col-4">{{finallockLoanInfo?.propertyType?.name}}</div>
      </div>
      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.ltvRatioPercent != finallockLoanInfo?.ltvRatioPercent ? 'rowhighlight' : 'row-striped'">
        <div class="col-4 ">LTV/CLTV</div>
        <div class="col-4">{{initialLockLoanInfo?.ltvRatioPercent |number : '1.3-3' }}
          /{{initialLockLoanInfo?.combinedLtvRatioPercent |number : '1.3-3'}}</div>
        <div class="col-4">{{finallockLoanInfo?.ltvRatioPercent |number : '1.3-3' }}
          /{{finallockLoanInfo?.combinedLtvRatioPercent |number : '1.3-3'}}</div>
      </div>

      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.creditScore != finallockLoanInfo?.creditScore ? 'rowhighlight' : 'row-striped'">
        <div class="col-4 ">Credit Score</div>
        <div class="col-4">{{initialLockLoanInfo?.creditScore}}</div>
        <div class="col-4">{{finallockLoanInfo?.creditScore}}</div>
      </div>
      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.subjectPropertyAddress?.zipCode != finallockLoanInfo?.subjectPropertyAddress?.zipCode ? 'rowhighlight' : 'row-striped'">
        <div class="col-4 ">Subject Property Zip</div>
        <div class="col-4">{{initialLockLoanInfo?.subjectPropertyAddress?.zipCode}}</div>
        <div class="col-4">{{finallockLoanInfo?.subjectPropertyAddress?.zipCode}}</div>
      </div>

      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.term != finallockLoanInfo?.term ? 'rowhighlight' : 'row-striped'">
        <div class="col-4 ">Term</div>
        <div class="col-4">{{initialLockLoanInfo?.term}}</div>
        <div class="col-4">{{finallockLoanInfo?.term}}</div>
      </div>
      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.units != finallockLoanInfo?.units ? 'rowhighlight' : 'row-striped'">
        <div class="col-4 ">Units</div>
        <div class="col-4">{{initialLockLoanInfo?.units}}</div>
        <div class="col-4">{{finallockLoanInfo?.units}}</div>
      </div>
      <div >
        <div *ngIf="lockLoanConfirmationData && lockLoanConfirmationData.initialLockLoan && lockLoanConfirmationData.initialLockLoan.lockStatus">
        <div class="row p-2 dohover " [ngClass]="lockLoanConfirmationData.initialAndFinalBasePrice.initialAdjustor != lockLoanConfirmationData.initialAndFinalBasePrice.finalAdjustor ? 'rowhighlight' : 'row-striped'"
             *ngIf="lockLoanConfirmationData.initialAndFinalPrice">
          <div class="col-4 ">Base Price(Includes Base Adjustments)</div>
          <div class="col-4 ">{{lockLoanConfirmationData.initialAndFinalBasePrice.initialAdjustor | number : '1.3-3'}}</div>
          <div class="col-4 ">{{lockLoanConfirmationData.initialAndFinalBasePrice.finalAdjustor | number : '1.3-3'}}</div>
        </div>

          <div class="row p-2 tableheader">
            <div class="col-6 pl-3"><strong>Base Adjustments</strong></div>
            <div class="col-6 "></div>
          </div>
          <div *ngFor="let adjustment of lockLoanConfirmationData.initialAndFinalAdjustments ;let i = index">
            <div class="row p-2 dohover " [ngClass]="adjustment.initialAdjustor != adjustment.finalAdjustor ? 'rowhighlight' : {'row-striped': i % 2==0}">
              <div class="col-4 ">{{adjustment.reason}}</div>
              <div class="col-4 ">{{adjustment.initialAdjustor | number : '1.3-3'}}</div>
              <div class="col-4 ">{{adjustment.finalAdjustor | number : '1.3-3'}}</div>
            </div>
          </div>
          <div *ngFor="let adjustment of lockLoanConfirmationData.extensionsInitialAndFinalAdjustments ;let i = index">
            <div class="row p-2 dohover " [ngClass]="adjustment.initialAdjustor != adjustment.finalAdjustor ? 'rowhighlight' : {'row-striped': i % 2==0}">
              <div class="col-4 ">{{adjustment.reason}}</div>
              <div class="col-4 ">{{adjustment.initialAdjustor | number : '1.3-3'}}</div>
              <div class="col-4 ">{{adjustment.finalAdjustor | number : '1.3-3'}}</div>
            </div>
          </div>
          <div class="row p-2 tableheader dontprintthissection" >
            <div class="col-6 pl-3"><strong>Custom Adjustments</strong></div>
            <div class="col-6 "><button nbButton size="medium" (click)="addCustomAdjustments()"  >Add Custom Adjustments</button></div>
          </div>
          <div *ngIf="lockLoanConfirmationData.customInitialAndFinalAdjustments && lockLoanConfirmationData.customInitialAndFinalAdjustments.length>0" >
          <div *ngFor="let adjustment of lockLoanConfirmationData.customInitialAndFinalAdjustments ;let i = index">
            <div class="row p-2 dohover " [ngClass]="adjustment.initialAdjustor != adjustment.finalAdjustor ? 'rowhighlight' : {'row-striped': i % 2==0}">
              <div class="col-3 "><input class="form-control" name="adjustorName{{i}}" id="OD" [(ngModel)]="adjustment.reason" #adjustorName{{i}}="ngModel"

                                         type="text" nbInput fullWidth shape="rectangle" placeholder="Adjustment Name"
              /></div>
              <div class="col-3 "><input class="form-control" name="initialAdjustor{{i}}" id="OD" [(ngModel)]="adjustment.initialAdjustor" #initialAdjustor{{i}}="ngModel"

                                         type="number" nbInput fullWidth shape="rectangle" placeholder="Adjustor" (keyup)="adjustment.finalAdjustor=adjustment.initialAdjustor" /></div>
              <div class="col-3 "><input readonly class="form-control"  name="finalAdjustor{{i}}" id="OD" [(ngModel)]="adjustment.finalAdjustor" #finalAdjustor{{i}}="ngModel"

                                         type="number" nbInput fullWidth shape="rectangle" placeholder="Adjustor" /></div>
              <div class="col-3">
                <button size="tiny" nbButton (click)="deleteAdjustment(i)"><fa-icon class="m-1" size="1x" [icon]="fatrash"></fa-icon></button>
              </div>
            </div>
          </div>
          </div>
          <div class="row p-2 tableheader">
            <div class="col-6 pl-3"><strong>Margins</strong></div>
            <div class="col-6 "></div>
          </div>
          <div *ngIf="globalService.getIsLockDesk()">
          <div *ngFor="let adjustment of lockLoanConfirmationData.initialAndFinalMargins ;let i = index" >
            <div class="row p-2 dohover "  [ngClass]="adjustment.initialAdjustor != adjustment.finalAdjustor ? 'rowhighlight' : {'row-striped': i % 2==0}" >
              <div class="col-4 ">{{adjustment.reason}}</div>
              <div class="col-4 ">{{adjustment.initialAdjustor | number : '1.3-3'}}</div>
              <div class="col-4 ">{{adjustment.finalAdjustor | number : '1.3-3'}}</div>
            </div>
          </div>
          </div>
          <div class="row p-2 dohover " [ngClass]="lockLoanConfirmationData.initialAndFinalPrice.initialAdjustor != lockLoanConfirmationData.initialAndFinalPrice.finalAdjustor ? 'rowhighlight' : 'row-striped'" *ngIf="lockLoanConfirmationData.initialAndFinalPrice">
            <div class="col-4 ">Price</div>
            <div class="col-4 ">{{lockLoanConfirmationData.initialAndFinalPrice.initialAdjustor | number : '1.3-3'}}</div>
            <div class="col-4 ">{{lockLoanConfirmationData.initialAndFinalPrice.finalAdjustor | number : '1.3-3'}}</div>
          </div>
        </div>
      </div>
    </ng-container>
    <hr>
    <div class="row p-2 tableheader dontprintthissection">
      Lock WorkFlow
    </div>
    <br>
      <div class="dontprintthissection">

    <ag-grid-angular
      style="width: 1025px; height: 350px;"
      #grid
      class="ag-theme-alpine"
      [rowData]="rowData | async"
      [columnDefs]="columnDefs"
      [pagination]="true"
      paginationPageSize="100"
      debounceVerticalScrollbar=true
      enableCellTextSelection=true
      [gridOptions]="gridOptions"
      [rowClassRules]="rowClassRules"


    >
    </ag-grid-angular>
      </div>
    </ng-container>
    <ng-template #loadingOrError>

      <ng-container *ngIf="errorMessage; else loading">
        <div class="col-12 text-center">
          <h4>Well That's Strange....</h4>
          <img width="200" src="assets/images/strange-face.png">
          <div class="alert alert-danger">
            Operation completed Unsuccessfully, Sorry for the inconvenience. Please contact the administrator.

          </div>

        </div>
      </ng-container>

      <ng-template #loading>
        <div
          class="col-12 text-center"
          *ngIf="!lockLoanDataLoading"
          [hidden]="!mainDataLoading"
        >
          <strong> <span class="blinking">Loading...</span></strong>
        </div>
      </ng-template>

    </ng-template>



  </nb-card-body>

</nb-card>

