<nb-card accent="primary">
  <nb-card-header>
    <div class="row dontprintthissection">
      <div class="text-left col-md-4 "><a href="#" (click)="backClicked($event)">
        <nb-icon icon="arrow-back-outline"></nb-icon>
        Previous</a></div>
      <div class="text-left col-md-8 text-right">
        <button nbButton (click)="print()" ghost size="small"> <fa-icon  size="2x" [icon]="faprint" class="pt-1" ></fa-icon></button>
      </div>
      <div class="text-left col-md-4 "><a hidden id="refreshButtonId" href="#" (click)="refreshGrid($event)"><nb-icon icon="refresh-outline"></nb-icon></a></div>
    </div>
  </nb-card-header>
  <nb-card-body >
    <div class="row p-2 dontprintthissection" [nbSpinner]="mainDataLoadingSpinner" nbSpinnerStatus="primary">
     <div class="col-4"  *ngIf="lockRequestStatusType && lockRequestStatusType.taxonomyItems">
     <nb-select  status="info" filled fullWidth shape="semi-round" [(ngModel)]="lockState"    #lockRequestWF="ngModel" name="lockRequestWF" required size="giant"  placeholder="Locking Actions..."
                id="lockRequestWFId"  (ngModelChange)="saveRateLockConfirmation(lockState)" >
       <nb-option  [disabled]="!lock_action.enabled"  *ngFor="let lock_action of lockingActions"
                   [value]="lock_action.key">{{lock_action.value}}</nb-option>
    </nb-select>
    </div>
     <div class="col-4"  *ngIf="lockState == LockStatesType.RequestLockExtension">
        <nb-select status="info" filled fullWidth shape="semi-round" [(ngModel)]="lockExtensionDays"    #lockExntendDay="ngModel" name="lockExntendDay" required size="giant"  placeholder="Lock Extension Days..."
                   id="lockRequestWFId"  (ngModelChange)="saveLockExtensionConfirmation(lockState,lockExtensionDays)" >
          <nb-option    *ngFor="let lockExtensionmaster of lockExtensionMaster"
                      [value]="lockExtensionmaster.numberOfDays">{{lockExtensionmaster.description}}</nb-option>
        </nb-select>
      </div>
      <div class="col-4">
      </div>
    </div>
      <!--<nb-alert accent="warning"  *ngIf="mainlockLoanDataLoading && initialLockLoan && finalLockLoan && initialLockLoan.lockStatus && !finalLockLoan.repriceSuccess" size="medium" >
      Selected product rate for the  lock period is no more available...
      </nb-alert>-->
    <nb-alert accent="success" class="dontprintthissection"  *ngIf="isRateLockRequestMessage()" size="small" >
      {{rateLockRequestMessage}}
    </nb-alert>
      <nb-alert accent="success" class="dontprintthissection"  *ngIf="lockLoanSuccessful" size="small" >
      {{lockLoanActionSuccessMessage}}
    </nb-alert>
    <nb-alert accent="success" class="dontprintthissection" *ngIf="lockLoanFailure" size="small" >
      {{lockLoanActionFailureMessage}}
    </nb-alert>
    <ng-container *ngIf="minDataLoading else minloadingOrError">
      <div *ngIf="initialLockLoan?.lockStatus">
      <div class="row p-2 tableheader">
        <div class="col-12 pl-3"><strong>Lock Data</strong></div>
      </div>
      <div class="row p-2 row-striped dohover">
        <div class="col-6 ">Lock Term (days)</div>
        <div class="col-3">{{initialLockLoan?.lockDays }}</div>
        <div class="col-3"></div>
      </div>
      <div class="row p-2 row-striped dohover" *ngIf="initialLockLoan?.lockExpirationDateStr">
        <div class="col-6 ">Lock Expiration Date</div>
        <div class="col-3"  [ngClass]="initialLockLoan?.lockExpired ? 'blink' : '' " ><strong>{{initialLockLoan?.lockExpirationDateStr | date: 'MM/dd/yyyy'}}</strong></div>
        <div class="col-3"></div>
      </div>
        <div class="row p-2 row-striped dohover" *ngIf="totalLockExtensionDays > 0">
          <div class="col-6 ">Lock Extension Days</div>
          <div class="col-3">{{totalLockExtensionDays }}</div>
          <div class="col-3"></div>
        </div>
        <div class="row p-2 row-striped dohover" >
          <div class="col-6 ">Note Rate</div>
          <div class="col-3">{{initialLockLoan?.selectedQuote?.rate | number : '1.3-3'}} %</div>
          <div class="col-3"></div>
        </div>
        <div class="row p-2 row-striped dohover" >
          <div class="col-6 ">Product Name</div>
          <div class="col-6">{{initialLockLoan?.selectedProduct?.productName}}</div>
        </div>
       </div>
      <div class="row p-2 row-striped dohover" >
        <div class="col-6 ">Lock Status</div>
        <div class="col-6" *ngIf="initialLockLoan?.lockStatus != LockStatusType.expired">{{loanLockWorkFlowStatus}}  {{getLockStatusDesc(initialLockLoan?.lockStatus)}}
          <fa-icon *ngIf="initialLockLoan && initialLockLoan?.lockStatus==102" size="1x" [icon]="lock" class="m-1"></fa-icon>
          <fa-icon *ngIf="initialLockLoan && !initialLockLoan.lockStatus || initialLockLoan?.lockStatus==101" size="1x" [icon]="unlock" class="m-1"></fa-icon>
        </div>
        <div class="col-6" *ngIf="initialLockLoan?.lockStatus == LockStatusType.expired">
          <strong>{{initialLockLoan?.lockStatusStr}}</strong>
          <fa-icon  size="1x" [icon]="faclock" class="m-1"></fa-icon>
        </div>
      </div>
      <div class="row p-2 row-striped dohover">
        <div class="col-6 ">Loan Number</div>
        <div class="col-3">{{loanInfo.loanNumber}}</div>
        <div class="col-3"></div>
      </div>
      <div class="row p-2 tableheader">
        <div class="col-6 pl-3"><strong>Deal Data</strong></div>
        <div class="col-3"><strong>Initial</strong></div>
        <div class="col-3 pr-3"><strong>Final</strong></div>
      </div>
      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.loanType?.name != finallockLoanInfo?.loanType?.name ? 'rowhighlight' : 'row-striped'" >
        <div class="col-6 ">Loan Type</div>
        <div class="col-3">{{initialLockLoanInfo?.loanType?.name}}</div>
        <div class="col-3">{{finallockLoanInfo?.loanType?.name}}</div>
      </div>
      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.term != finallockLoanInfo?.term ? 'rowhighlight' : 'row-striped'">
        <div class="col-6 ">Term</div>
        <div class="col-3">{{initialLockLoanInfo?.term}}</div>
        <div class="col-3">{{finallockLoanInfo?.term}}</div>
      </div>
      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.purpose?.name != finallockLoanInfo?.purpose?.name ? 'rowhighlight' : 'row-striped'">
        <div class="col-6 ">Purpose</div>
        <div class="col-3">{{initialLockLoanInfo?.purpose?.name}}</div>
        <div class="col-3">{{finallockLoanInfo?.purpose?.name}}</div>
      </div>
      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.loanAmount != finallockLoanInfo?.loanAmount ? 'rowhighlight' : 'row-striped'">
        <div class="col-6 ">Loan Amount</div>
        <div class="col-3">{{initialLockLoanInfo?.loanAmount | currency : 'USD' : 'symbol' : '1.0-0'}}</div>
        <div class="col-3">{{finallockLoanInfo?.loanAmount | currency : 'USD' : 'symbol' : '1.0-0'}}</div>
      </div>
      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.purchasePrice != finallockLoanInfo?.purchasePrice ? 'rowhighlight' : 'row-striped'">
        <div class="col-6 ">Purchase Price</div>
        <div class="col-3"> {{initialLockLoanInfo?.purchasePrice |  currency : 'USD' : 'symbol' : '1.0-0'}}</div>
        <div class="col-3"> {{finallockLoanInfo?.purchasePrice | currency : 'USD' : 'symbol' : '1.0-0'}}</div>
      </div>
      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.appraisalValue != finallockLoanInfo?.appraisalValue ? 'rowhighlight' : 'row-striped'">
        <div class="col-6 ">Appraisal Amount</div>
        <div class="col-3">{{initialLockLoanInfo?.appraisalValue | currency : 'USD' : 'symbol' : '1.0-0'}}</div>
        <div class="col-3">{{finallockLoanInfo?.appraisalValue | currency : 'USD' : 'symbol' : '1.0-0'}}</div>
      </div>
      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.occupancy?.name != finallockLoanInfo?.occupancy?.name ? 'rowhighlight' : 'row-striped'">
        <div class="col-6 ">Occupancy</div>
        <div class="col-3">{{initialLockLoanInfo?.occupancy?.name}}</div>
        <div class="col-3">{{finallockLoanInfo?.occupancy?.name}}</div>
      </div>
      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.escrowWaiver != finallockLoanInfo?.escrowWaiver ? 'rowhighlight' : 'row-striped'">
        <div class="col-6 ">Escrow Waiver</div>
        <div class="col-3">{{initialLockLoanInfo?.escrowWaiver?'Yes':'No'}}</div>
        <div class="col-3">{{finallockLoanInfo?.escrowWaiver?'Yes':'No'}}</div>
      </div>
      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.propertyType?.name != finallockLoanInfo?.propertyType?.name ? 'rowhighlight' : 'row-striped'">
        <div class="col-6 ">Property Type</div>
        <div class="col-3">{{initialLockLoanInfo?.propertyType?.name}}</div>
        <div class="col-3">{{finallockLoanInfo?.propertyType?.name}}</div>
      </div>
      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.ltvRatioPercent != finallockLoanInfo?.ltvRatioPercent ? 'rowhighlight' : 'row-striped'">
        <div class="col-6 ">LTV / CLTV</div>
        <div class="col-3">{{initialLockLoanInfo?.ltvRatioPercent |number : '1.2-2' }}
          / {{initialLockLoanInfo?.combinedLtvRatioPercent |number : '1.2-2'}}</div>
        <div class="col-3">{{finallockLoanInfo?.ltvRatioPercent |number : '1.2-2' }}
          / {{finallockLoanInfo?.combinedLtvRatioPercent |number : '1.2-2'}}</div>
      </div>
      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.creditScore != finallockLoanInfo?.creditScore ? 'rowhighlight' : 'row-striped'">
        <div class="col-6 ">Credit Score</div>
        <div class="col-3">{{initialLockLoanInfo?.creditScore}}</div>
        <div class="col-3">{{finallockLoanInfo?.creditScore}}</div>
      </div>
      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.subjectPropertyAddress?.zipCode != finallockLoanInfo?.subjectPropertyAddress?.zipCode ? 'rowhighlight' : 'row-striped'">
        <div class="col-6 ">Subject Property Zip</div>
        <div class="col-3">{{initialLockLoanInfo?.subjectPropertyAddress?.zipCode}}</div>
        <div class="col-3">{{finallockLoanInfo?.subjectPropertyAddress?.zipCode}}</div>
      </div>
      <div class="row p-2  dohover" [ngClass]="initialLockLoanInfo?.units != finallockLoanInfo?.units ? 'rowhighlight' : 'row-striped'">
        <div class="col-6 ">Units</div>
        <div class="col-3">{{initialLockLoanInfo?.units}}</div>
        <div class="col-3">{{finallockLoanInfo?.units}}</div>
      </div>
    </ng-container>
      <ng-container *ngIf="mainlockLoanDataLoading else mainloadingOrError">
      <div >
        <div *ngIf="lockLoanConfirmationData && lockLoanConfirmationData.initialLockLoan && lockLoanConfirmationData.initialLockLoan.lockStatus">
        <div class="row p-2 dohover " [ngClass]="lockLoanConfirmationData.initialAndFinalBasePrice.initialAdjustor != lockLoanConfirmationData.initialAndFinalBasePrice.finalAdjustor ? 'rowhighlight' : 'row-striped'"
             *ngIf="lockLoanConfirmationData.initialAndFinalPrice">
          <div class="col-6 ">Base Price (Includes Base Adjustments)</div>
          <div class="col-3 ">{{lockLoanConfirmationData.initialAndFinalBasePrice.initialAdjustor | number : '1.3-3'}}</div>
          <div class="col-3 ">{{lockLoanConfirmationData.initialAndFinalBasePrice.finalAdjustor | number : '1.3-3'}}</div>
        </div>
          <div class="row p-2 tableheader">
            <div class="col-6 pl-3"><strong>Base Adjustments</strong></div>
            <div class="col-6 "></div>
          </div>
          <div *ngFor="let adjustment of lockLoanConfirmationData.initialAndFinalAdjustments ;let i = index">
            <div class="row p-2 dohover " [ngClass]="adjustment.initialAdjustor != adjustment.finalAdjustor ? 'rowhighlight' : {'row-striped': i % 2==0}">
              <div class="col-6 ">{{adjustment.reason}}</div>
              <div class="col-3 ">{{adjustment.initialAdjustor | number : '1.3-3'}}</div>
              <div class="col-3 ">{{adjustment.finalAdjustor | number : '1.3-3'}}</div>
            </div>
          </div>
          <div class="row p-2 tableheader" >
            <div class="col-6 pl-3"><strong>Lock Extension Adjustments</strong></div>
            <div class="col-6 "></div>
          </div>
          <div *ngFor="let adjustment of lockLoanConfirmationData.extensionsInitialAndFinalAdjustments ;let i = index">
            <div class="row p-2 dohover " [ngClass]="adjustment.initialAdjustor != adjustment.finalAdjustor ? 'rowhighlight' : {'row-striped': i % 2==0}">
              <div class="col-6 ">{{adjustment.reason}}</div>
              <div class="col-3 ">{{adjustment.initialAdjustor | number : '1.3-3'}}</div>
              <div class="col-3 ">{{adjustment.finalAdjustor | number : '1.3-3'}}</div>
            </div>
          </div>
          <div class="row p-2 tableheader">
            <div class="col-6 pl-3"><strong>Compensation Adjustments</strong></div>
            <div class="col-6 "></div>
          </div>
          <div >
          <div *ngIf="lockLoanConfirmationData.initialLockLoan && lockLoanConfirmationData.initialLockLoan.productDetail && lockLoanConfirmationData.initialLockLoan.productDetail.customMargins">
            <div *ngFor="let adjustment of lockLoanConfirmationData.initialLockLoan.productDetail.customMargins ;let i = index" >
            <div class="row p-2 dohover "  >
              <div class="col-6 ">{{adjustment.reason}}</div>
              <div class="col-3 ">{{adjustment.adjustor}}</div>
              <div class="col-3 ">
                <input NumbersOnly  [readOnly]="adjustment.reason == 'Corporate Margin' || adjustment.reason == 'Company Margin'" class="form-control" name="initialAdjustor{{i}}" id="OD" [(ngModel)]="adjustment.finalAdjustor" #initialAdjustor{{i}}="ngModel"

                        type="text" nbInput fullWidth shape="rectangle" placeholder="%"  (keyup)="setMLOAdjustment(adjustment)" />

              </div>
            </div>
          </div>
          <nb-alert  accent="warning" size="medium" *ngIf="compensationAdjustmentFailed" >{{compensationAdjustmentMessage}} </nb-alert>
          </div>
          </div>
          <div class="row p-2 tableheader dontprintthissection" >
            <div class="col-6 pl-3"><strong>Add Adjustments</strong></div>
            <div class="col-6 text-right pr-1"><button nbButton size="tiny" (click)="addCustomAdjustments()" [disabled]="initialLockLoan.lockExpired || initialLockLoan.lockStatus === LockStatusType.float" ><fa-icon class=""  size="1x" [icon]="faplus"></fa-icon></button></div>
          </div>
           <div *ngIf="lockLoanConfirmationData.customInitialAndFinalAdjustments && lockLoanConfirmationData.customInitialAndFinalAdjustments.length>0" >
            <div *ngFor="let adjustment of lockLoanConfirmationData.customInitialAndFinalAdjustments ;let i = index">
              <div class="row p-2 dohover " [ngClass]="adjustment.initialAdjustor != adjustment.finalAdjustor ? 'rowhighlight' : {'row-striped': i % 2==0}">
                <div class="col-6 "><input  class="form-control" name="adjustorName{{i}}" id="OD" [(ngModel)]="adjustment.reason" #adjustorName{{i}}="ngModel"

                                           type="text" nbInput fullWidth shape="rectangle" placeholder="Adjustment Name"
                /></div>
                <div class="col-3 ">
                 <input NumbersOnly class="form-control" name="initialAdjustor{{i}}" id="OD" [(ngModel)]="adjustment.initialAdjustor" #initialAdjustor{{i}}="ngModel"

                                           type="text" nbInput   fullWidth shape="rectangle" placeholder="%" (keyup)="setAdjustments(adjustment)" /></div>
                 <div class="col-3 text-right pr-1">
                 <button  [nbSpinner]="loadingDeleteAdjustment" nbSpinnerStatus="primary"  [disabled]="initialLockLoan.lockExpired" size="tiny" nbButton (click)="deleteAdjustment(i)" nbTooltip="Delete"  ><fa-icon class="" size="1x" [icon]="fatrash"></fa-icon></button>

                </div>
              </div>
            </div>

          </div>
          <br>
          <hr>
          <div class="row p-2 dohover " [ngClass]="lockLoanConfirmationData.initialAndFinalPrice.initialAdjustor != lockLoanConfirmationData.initialAndFinalPrice.finalAdjustor ? 'rowhighlight' : 'row-striped'" *ngIf="lockLoanConfirmationData.initialAndFinalPrice">
            <div class="col-6 ">Price</div>
            <div class="col-3 ">{{lockLoanConfirmationData.initialAndFinalPrice.initialAdjustor | number : '1.3-3'}}</div>
            <div class="col-3 ">{{lockLoanConfirmationData.initialAndFinalPrice.finalAdjustor | number : '1.3-3'}}</div>
          </div>
          <br>
          <div class="row p-2 dohover "  *ngIf="lockLoanConfirmationData.initialLockLoan.lockStatus">
            <div class="col-1">Comments</div>
            <div class="col-11">
              <textarea (keyup)="commentsIsDirty=true" size="large" fullWidth nbInput [(ngModel)]="lockLoanConfirmationData.initialLockLoan.comments"  #comments="ngModel" name="comments" id="commentsId"></textarea>
            </div>

          </div>
          <div class="row">
          <div class="col-12 text-right pr-1">
            <button [nbSpinner]="loadingComments" [disabled]="saveButtonDisable()"  nbSpinnerStatus="primary"    size="large" nbButton (click)="saveComments()" nbTooltip="Save"  ><fa-icon class="p-1"  size="1x" [icon]="fasave"></fa-icon>Save Changes</button>
          </div>
          </div>



        </div>
      </div>
    </ng-container>
    <hr>
    <div class="row p-2 tableheader dontprintthissection">
      Lock WorkFlow
    </div>
    <br>
      <div class="dontprintthissection">

    <ag-grid-angular
      style="width: 1025px; height: 350px;"
      #grid
      class="ag-theme-alpine"
      [rowData]="rowData | async"
      [columnDefs]="columnDefs"
      [pagination]="true"
      paginationPageSize="100"
      debounceVerticalScrollbar=true
      enableCellTextSelection=true
      [gridOptions]="gridOptions"
      [rowClassRules]="rowClassRules"


    >
    </ag-grid-angular>
      </div>
     <ng-template #minloadingOrError>

      <ng-container *ngIf="errorMessage; else loading">
        <div class="col-12 text-center">
          <h4>Well That's Strange....</h4>
          <img width="200" src="assets/images/strange-face.png">
          <div class="alert alert-danger">
            Operation completed Unsuccessfully, Sorry for the inconvenience. Please contact the administrator.

          </div>

        </div>
      </ng-container>

      <ng-template #loading>
        <div
          class="col-12 text-center"
          *ngIf="!minDataLoading"
          [hidden]="!minDataLoadingSpinner"
        >
          <strong> <span class="blinking">Loading...</span></strong>
        </div>
      </ng-template>

    </ng-template>
    <ng-template #mainloadingOrError>

      <ng-container *ngIf="errorMessage; else loading">
        <div class="col-12 text-center">
          <h4>Well That's Strange....</h4>
          <img width="200" src="assets/images/strange-face.png">
          <div class="alert alert-danger">
            Operation completed Unsuccessfully, Sorry for the inconvenience. Please contact the administrator.

          </div>

        </div>
      </ng-container>

      <ng-template #loading>
        <div
          class="col-12 text-center"
          *ngIf="!mainlockLoanDataLoading"
          [hidden]="!mainDataLoadingSpinner"
        >
          <strong> <span class="blinking">Loading...</span></strong>
        </div>
      </ng-template>

    </ng-template>



  </nb-card-body>

</nb-card>

