.row-striped:nth-of-type(odd){
  background-color: #EBF5FB;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
}

.dohover:hover {
  background-color: #ffffbf;
}
.tableheader{
  background-color: #D3D3D3;
}
.rowhighlight{
  background-color: #FFBF00;
}
@media print {
  .dontprintthissection,
  #non-printable {
    display: none !important;
  }
  #printable {
    display: block;
  }
}
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.example-right-align {
  text-align: right;
}
