<div class="accordions-container row">
  <div class="accordion-container col-12 ">
    <nb-accordion>
      <nb-accordion-item #item  collapsed="false" >
        <nb-accordion-item-header>
         MLO Settings
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="row" >
            <div class="col-12">
              <nb-card size="large">
                <nb-tabset>
                  <nb-tab tabTitle="Mortgage Loan Officer">
                    <router-outlet></router-outlet>
                  </nb-tab>

                </nb-tabset>
              </nb-card>
            </div>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item>
        <nb-accordion-item-header>Others</nb-accordion-item-header>
        <nb-accordion-item-body></nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>

</div>
