<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="text-left col-md-4 "><a (click)="backClicked($event)" href="#">
        <nb-icon icon="arrow-back-outline"></nb-icon>
        Previous</a></div>
      <div class="text-left col-md-8 ">
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <fieldset class="border p-2">
      <legend class="w-auto">Company Pricing Breakup</legend>

      <div
        *ngIf="investors">
        <div class="row">
          <h5 class="col-3"></h5>
          <h5 class="col-3">Investor Margin</h5>
          <h5 class="col-3">Company Margin</h5>
          <h5 class="col-3">Total Margin</h5>
        </div>
        <div *ngFor="let taxonomyItem of investors.taxonomyItems">
          <fieldset class="border p-2">
            <h5>{{taxonomyItem.description}}</h5>
            <div *ngIf="getPricingByInvestor(taxonomyItem.key)">
              <div *ngFor="let pricing of getPricingByInvestor(taxonomyItem.key)" class="row m-2" >
                <div class="col-3">
                  {{getLoanTypeDesc(pricing.loanType)}}
                </div>
                <div class="col-3" >
                  {{pricing.investorMargin}}%
                </div>
                <div class="col-3" >
                  {{pricing.companyMargin}}%
                </div>
                <div class="col-3" >
                  {{pricing.totalMargin}}%
                </div>
              </div>
            </div>
          </fieldset>
          <br>

        </div>
      </div>
    </fieldset>
  </nb-card-body>
</nb-card>






