<nb-card>
  <nb-card-header>
    <strong>Admin Dashboard</strong>
  </nb-card-header>
  <nb-card-body >
    <div class="row py-3">
    <fieldset class="border  rounded-lg col-12 ">
      <legend  class="w-auto"><strong>MLO</strong></legend>
      <p>You can create or make changes to MLO's here</p>
      <button ghost nbButton status="primary" (click)="mlo()" >
        Mortgage Loan Officer
      </button>
    </fieldset>

    </div>
    <div class="row pt-100 py-3">
    <fieldset class="border p-2 rounded-lg col-12 ">
      <legend  class="w-auto"><strong>Media Upload</strong></legend>
      <p>LoanHouse rate quote application video upload</p>
      <button ghost nbButton status="primary" (click)="media()" >
        MLO Media
      </button>
    </fieldset>
    </div>
    <div class="row pt-100 py-3">
      <fieldset class="border p-2 rounded-lg col-12 ">
        <legend  class="w-auto"><strong>Investor Pricing</strong></legend>
        <p>Set the Investor Pricing here</p>
        <button ghost nbButton status="primary" (click)="investorPricing()" >
          Investor Pricing
        </button>
      </fieldset>
    </div>
  </nb-card-body>

</nb-card>

