<div class="d-none d-lg-block row container">
<div class="container flex-row col-md-6">
      <img alt="" style="width: 180px;" src="assets/images/logo-blue.png"/>
  <button ghost nbButton [nbContextMenu]="items" >
    Menu
  </button>

  </div>

</div>
<div class="row d-lg-none container">
  <div class="navbar-brand minimum flex-row">
        <img alt="" style=" width: 80px;" src="assets/images/logo-blue.png"/>
 </div>
  <div class="flex-">
  <button ghost nbButton [nbContextMenu]="items" >
    Menu
  </button>


  </div>




</div>

