<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="text-left col-md-4 "><a href="#" (click)="backClicked($event)"><nb-icon icon="arrow-back-outline"></nb-icon> Previous</a></div>
      <div class="text-left col-md-8 ">
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <fieldset class="border p-2">
      <legend  class="w-auto">Mortgage Loan Officer</legend>
<form class="container m-2" #form="ngForm"
      (ngSubmit)="submitOrderFinal(form)" >
  <fieldset class="border p-2">
    <legend  class="w-auto">Personnel Info</legend>
    <div class="form-group row mb-2">
      <label for="mloMarginId" class="label col-3 col-form-label">Company Name*</label>
       <div class="col-3">
        &nbsp;<nb-select  [(ngModel)]="userMLO.brokercompanyId"   #brokerCompany="ngModel" name="brokerCompany" required size="small"  placeholder="" id="brokerCompanyid"  >
          <nb-option *ngFor="let brokercompany of brokerCompanyList" [value]="brokercompany.brokercompanyId">{{brokercompany.name}}</nb-option>
        </nb-select>
      </div>
      <div class="col-6"></div>
    </div>
  <div class="form-group row mb-2">
    <label for="fName" class="label col-3 col-form-label">Name*</label>
    <div class="col-9">
      <input class="form-control mb-2" #firstName="ngModel" name="firstName" id="fName"
             [(ngModel)]="userMLO.firstName"
             type="text" nbInput  shape="rectangle" placeholder="First Name"
      />
      <input class="form-control mb-2" #lastName="ngModel" name="lastName" id="lName"
             [(ngModel)]="userMLO.lastName"
             type="text" nbInput  shape="rectangle" placeholder="Last Name"
      />
    </div>
  </div>
  <div class="form-group row mb-2">
    <label for="inputEmail1" class="label col-3 col-form-label">Email*</label>
    <div class="col-9">
      <input  class="form-control mb-2" #userName="ngModel" name="userName" id="inputEmail1"
             [(ngModel)]="userMLO.userName"
             type="text" nbInput  shape="rectangle" placeholder="LOS/POS account email" [disabled]="userMLO.userId > 0"
      />
    </div>
  </div>
    <div class="form-group row mb-2">
      <label for="inputPhoneWork" class="label col-3 col-form-label">Phone(Work)</label>
      <div class="col-9">
        <input status="primary" fieldSize="small" class="form-control mb-2" #phoneWork="ngModel" name="phoneWork" id="inputPhoneWork"
               [(ngModel)]="userMLO.userContact.phoneWork"
               type="text" nbInput  shape="rectangle"  mask="(000) 000-0000" placeholder="Phone work"
        />
      </div>
    </div>
    <div class="form-group row mb-2">
      <label for="inputPhoneMobile" class="label col-3 col-form-label">Phone(Mobile)</label>
      <div class="col-9">
        <input status="primary" fieldSize="small"  class="form-control mb-2" #phoneMobile="ngModel" name="phoneMobile" id="inputPhoneMobile"
               [(ngModel)]="userMLO.userContact.phoneMobile"
               type="text" nbInput  shape="rectangle" placeholder="Mobile"  mask="(000) 000-0000"

        />
      </div>
    </div>
    <div class="form-group row mb-2">
      <label for="isExternalUserId" class="label col-3 col-form-label">External User</label>
      <div class="col-9">
          &nbsp;<nb-checkbox  [(ngModel)]="userMLO.externalUserFlag" id="isExternalUserId" name="IsExternalUser" #IsExternalUser="ngModel"  >Is External User</nb-checkbox>
      </div>
    </div>
  </fieldset>
  <br>
  <fieldset class="border p-2">
    <legend  class="">PPE Portal</legend>
  <div class="form-group row mb-2">
    <label for="mloMarginId" class="label col-3 col-form-label">MLO Margin %</label>
    <div class="col-3">
      <input  class="form-control mb-2" #mloMargin="ngModel" name="mloMargin" id="mloMarginId"
             [(ngModel)]="userMLO.loMargin "
             type="number" nbInput  shape="rectangle"  placeholder="%"
      />

    </div>
    <div class="col-6 text-left">
      <button class="m-2" type="submit" nbButton  status="primary"
            size="medium" (click)="showBreakUp()"><fa-icon size="1x" [icon]="info" class="m-0"></fa-icon>&nbsp;Markup</button>
    </div>

  </div>
    <div class="form-group  row mb-2" *ngIf="userMLO.userId>0">
      <label  class="label col-3 col-form-label">MLO Site URL </label>
      <label  class="label col-7 col-form-label">{{mloLink}}</label>
      <nb-action class="label col-1 col-form-label" (click)="copyToClipboard(mloLink)" icon="clipboard-outline" nbTooltip="Copy"></nb-action>
    </div>

  </fieldset>
  <br>

  <fieldset class="border p-2">
    <legend  class="w-auto">POS</legend>
    <div class="form-group row mb-2">

      <label for="mloMarginId" class="label col-3 col-form-label">POS Type</label>
      <div class="col-3">
        &nbsp;<nb-select  [(ngModel)]="userMLO.loSiteDTO.posType"   #posTypeName="ngModel" required name="posTypeName" id="posTypeId" size="medium"  placeholder="Pont of Sale System"  >
          <nb-option *ngFor="let posTypeTaxItem of posTypeTaxonomy?.taxonomyItems" [value]="posTypeTaxItem.key">{{posTypeTaxItem.description}}</nb-option>
        </nb-select>
      </div>
       <div class="col-6"></div>
    </div>
  <div class="form-group row mb-2">
    <label for="mloMarginId" class="label col-3 col-form-label">Floify API Key(Optional)</label>
    <div class="col-3">
      <input  class="form-control mb-2" #floifyAPIID="ngModel" name="floifyAPI" id="floifyAPIID"
              [(ngModel)]="userMLO.loSiteDTO.floifyAPIKey"
              type="text" nbInput  shape="rectangle"  placeholder=""
      />
    </div>
    <div class="col-6"></div>


  </div>
    <div class="form-group row mb-2">
      <label for="mloMarginId" class="label col-3 col-form-label">Lendingpad API Key(Optional)</label>
      <div class="col-3">
        <input  class="form-control mb-2" #lendingpadAPIID="ngModel" name="lendingpadAPI" id="lendingpadAPIID"
                [(ngModel)]="userMLO.loSiteDTO.lendingpadAPIKey"
                type="text" nbInput  shape="rectangle"  placeholder=""
        />

      </div>
      <div class="col-6"></div>


    </div>

  <div class="form-group row mb-2">
    <label for="inputEmail1" class="label col-3 col-form-label">Manager</label>
    <div class="col-9">
       &nbsp;<nb-checkbox  [(ngModel)]="userMLO.floifyTeamManagerFlag"  name="IsFloifyManage" #IsFloifyManage="ngModel"  [disabled]="userMLO.floifyAccountApprovalFlag">Is Floify Manager</nb-checkbox>
    </div>
  </div>
  <div class="form-group row mb-2" *ngIf="userMLOManager && !userMLO.floifyTeamManagerFlag">
    <label for="managerListId" class="label col-3 col-form-label">Floify Manager</label>
    <div class="col-9">
      &nbsp;<nb-select  [(ngModel)]="userMLO.floifyTeamManagerId"   #mlist="ngModel" name="mlist" required size="small"  placeholder="" id="managerListId"  [disabled]="userMLO.floifyAccountApprovalFlag">
        <nb-option *ngFor="let manager of userMLOManager" [value]="manager.userId">{{manager.firstName}}&nbsp;{{manager.lastName}}</nb-option>
      </nb-select>
    </div>
  </div >
  </fieldset>
  <br>
  <fieldset class="border p-2">
    <legend  class="w-auto">General</legend>
    <div class="form-group  row mb-2" *ngIf="crudType=='edit'">
      <label  class="label col-3 col-form-label">Delete MLO </label>
      <div class="col-9">
        <nb-checkbox  [(ngModel)]="userMLO.deleteFlag"  name="deleteFlag" #deleteFlag="ngModel"  ></nb-checkbox>
      </div>
    </div>
  </fieldset>
  <div class="form-group row mb-2">
    <div class="offset-3 col-9">
      <button class="m-2" type="submit" nbButton  status="primary"
               [disabled]="!userMLO.firstName || !userMLO.lastName || !userMLO.userName || userMLO.brokercompanyId ==0"
               size="medium" [nbSpinner]="loading" nbSpinnerStatus="primary"><nb-icon icon="save-outline"></nb-icon>{{buttonText}}</button>
      <button [disabled]="crudType==='add'"  class="m-2"  nbButton  status="primary" (click)="mloMedia()"

               size="medium" [nbSpinner]="loading1" nbSpinnerStatus="primary"><nb-icon icon="video-outline"></nb-icon>MLO Media</button>
    </div>

    <div class="col-12 text-center" *ngIf="buttonPressed && !loading">
      <br>
      <br>
      <nb-alert accent="info"  *ngIf="errorMessage.length==0 && userMLO.userId>0" size="tiny" >
        Operation completed successfully.
      </nb-alert>
      <nb-alert accent="danger" *ngIf="errorMessage.length>0" size="tiny" >
        Operation failed...
      </nb-alert>
      <nb-alert accent="danger" *ngIf="mloEmailExist == true" size="tiny" >
        User email exist. please try another email.
      </nb-alert>
    </div>
  </div>
</form>
    </fieldset>

  </nb-card-body>
</nb-card>


