legend {
  background-color: #FFFFFF;
  color: #000000;
  padding: 3px 6px;
  font-size: medium;
}

.output {
  font: 1rem 'Fira Sans', sans-serif;
}

input {
  margin: .4rem;
}
.field_set{
  border-color: #000000;
  border-style: solid;
}
