<form class="container m-2" #form="ngForm"
      (ngSubmit)="submitOrder(form)" >
  <div class="form-group row mb-2">
    <label for="fName" class="label col-3 col-form-label">Name</label>
    <div class="col-9">
      <input class="form-control mb-2" #name="ngModel" name="name" id="fName"
             [(ngModel)]="userMLO.firstName"
             type="text" nbInput fullWidth shape="rectangle" placeholder="First Name"
      />
      <input class="form-control mb-2" #name="ngModel" name="name" id="lName"
             [(ngModel)]="userMLO.lastName"
             type="text" nbInput fullWidth shape="rectangle" placeholder="Last Name"
      />
    </div>
  </div>

  <div class="form-group row mb-2">
    <label for="inputEmail1" class="label col-3 col-form-label">Email</label>
    <div class="col-9">
      <input class="form-control mb-2" #name="ngModel" name="name" id="inputEmail1"
             [(ngModel)]="userMLO.userName"
             type="text" nbInput fullWidth shape="rectangle" placeholder="Email"
      />
    </div>
  </div>
  <div class="form-group row mb-2">
    <label for="mloMarginId" class="label col-3 col-form-label">MLO Margin</label>
    <div class="col-5">
      <input class="form-control mb-2" #mloMargin="ngModel" name="mloMargin" id="mloMarginId"
             [(ngModel)]="userMLO.userPricing.loMargin"
             type="number" nbInput  shape="rectangle" placeholder="MLO Margin"
      />

    </div>
    <label  class="label col-4 col-form-label">Basis Points(BPS)</label>
  </div>
  <div class="form-group row mb-2">
    <label for="inputEmail1" class="label col-3 col-form-label">Manager</label>
    <div class="col-9">
       <nb-checkbox [(ngModel)]="userMLO.floifyTeamManagerFlag"  name="IsFloifyManage" #IsFloifyManage="ngModel">Is Floify Manager</nb-checkbox>
    </div>
  </div>
  <div class="form-group row mb-2" *ngIf="!userMLO.floifyTeamManagerFlag">
    <label for="inputEmail1" class="label col-3 col-form-label">Floify Manager</label>
    <div class="col-9">
      <nb-select [(ngModel)]="userMLOManager"   #managerList="ngModel" name="managerList" required size="small"  placeholder="" >
        <nb-option *ngFor="let manager of userMLOManager" [value]="manager.userId">{{manager.firstName}}</nb-option>
      </nb-select>
    </div>
  </div>

  <div class="form-group row mb-2">
    <div class="offset-3 col-9">
      <button  type="submit" nbButton  status="primary"
               [disabled]="!userMLO.firstName || !userMLO.lastName || !userMLO.userName"
               size="medium" [nbSpinner]="loading" nbSpinnerStatus="primary">Sign in</button>
    </div>
    <div class="col-12 text-center" *ngIf="userMLO.userId>0">
      <nb-alert accent="info"  size="tiny" >
        Operation completed successfully.
      </nb-alert>

    </div>
  </div>
</form>
