<form>
  <div class="form-group row mb-2">
    <label for="name" class="label col-3 col-form-label">Name</label>
    <div class="col-9">
      <input class="mb-2" type="text" nbInput fullWidth id="name" placeholder="First Name">
      <input class="mb-2" type="text" nbInput fullWidth id="name" placeholder="Last Name">
    </div>
  </div>

  <div class="form-group row mb-2">
    <label for="inputEmail1" class="label col-3 col-form-label">Email</label>
    <div class="col-9">
      <input  type="email" nbInput fullWidth id="inputEmail1" placeholder="Email">
    </div>
  </div>
  <div class="form-group row mb-2">
    <label for="inputEmail1" class="label col-3 col-form-label">Manager</label>
    <div class="col-9">
      <nb-radio-group>
        <nb-radio>Is Manager in Floify</nb-radio>
        <nb-radio>Not a Manager in Floify</nb-radio>

      </nb-radio-group>
    </div>
  </div>
  <div class="form-group row mb-2">
    <label for="inputEmail1" class="label col-3 col-form-label">Floify Manager</label>
    <div class="col-9">
      <nb-select selected="1">
        <nb-option value="1">Manager 1</nb-option>
        <nb-option value="2">Manager 2</nb-option>
      </nb-select>
    </div>
  </div>

  <div class="form-group row mb-2">
    <div class="offset-3 col-9">
      <button  type="submit" nbButton status="primary">Sign in</button>
    </div>
  </div>
</form>
