<nb-card size="large" >
  <nb-card-header>
    <div class="text-left col-md-4 "><a href="#" (click)="backClicked($event)"><nb-icon icon="arrow-back-outline"></nb-icon> Previous</a></div>
    <div class="container col-md-8 text-center">
      Loan Pipeline
    </div>
    <div class="text-left col-md-4 "><a hidden id="refreshButtonId" href="#" (click)="refreshGrid($event)"><nb-icon icon="refresh-outline"></nb-icon></a></div>
  </nb-card-header>
  <nb-card-body class="host">


    <div *ngIf="globalService.getIsLockDesk()">
    <div class="form-group row mb-2" >
      <label class="label col-3 col-form-label">Company Name</label>
      <div class="col-3">
        &nbsp;<nb-select  [(ngModel)]="brokercompanyId"   #brokerCompany="ngModel" name="brokerCompany" required size="small"  placeholder="" id="brokerCompanyid" [nbSpinner]="brokerCompanyLoading" nbSpinnerStatus="primary" (ngModelChange)="loadUsers()" >
        <nb-option value="-1">Select</nb-option>
        <nb-option *ngFor="let brokercompany of brokerCompanyList" [value]="brokercompany.brokercompanyId">{{brokercompany.name}}</nb-option>
      </nb-select>
      </div>
      <div class="col-6"></div>
    </div>
      <div class="form-group row mb-2" >
        <label class="label col-3 col-form-label">MLO</label>
        <div class="col-3" >
          &nbsp;<nb-select  [(ngModel)]="mloUserName"   #userMLO="ngModel" name="userMLO" required size="small"  placeholder="" id="usrMLOId"  [nbSpinner]="userLoading" nbSpinnerStatus="primary" (ngModelChange)="loadLoansFromLendingpad()">
          <nb-option value="-1">Select</nb-option>
          <nb-option *ngFor="let user of userMLOList" [value]="user.userName">{{user.firstName+" "+user.lastName}}</nb-option>
        </nb-select>
        </div>
        <div class="col-6"></div>
      </div>
    </div>

    <br>


    <ag-grid-angular
      style="width: 1025px; height: 350px;"
      #grid
      class="ag-theme-alpine"
      [rowData]="rowData | async"
      [columnDefs]="columnDefs"
      [pagination]="true"
      paginationPageSize="100"
      debounceVerticalScrollbar=true
      enableCellTextSelection=true
      (rowClicked)="onRowClick($event)"

    >
    </ag-grid-angular>
  </nb-card-body>
</nb-card>









