<nb-card size="giant">
  <nb-card-header>
    <div class="text-left col-md-4 "><a (click)="backClicked($event)" href="#">
      <nb-icon icon="arrow-back-outline"></nb-icon>
      Previous</a></div>
    <div class="container col-md-8 text-center">
      Quick Pricer
    </div>

  </nb-card-header>
  <nb-card-body class="host">
    <div class="row">
      <div class="col-4">
        <nb-card size="large">
          <nb-card-body>

            <div class="row col-12">
              <fa-icon [icon]="faperson" class="pr-1" size="1x"></fa-icon>
              <label>Borrower</label>
            </div>

            <div class="row m-2">

              <div class="col-6 form-group">
                <label class="label" for="ficoId">FICO</label>
                <input fieldSize="medium" id="ficoId" fullWidth nbInput placeholder="FICO" type="number"/>
              </div>

            </div>
            <div class="row m-2">

              <div class="col-12">
                <nb-checkbox>First Time Home Buyer</nb-checkbox>
              </div>

            </div>
            <div class="row m-2">

              <div class="col-12">
                <nb-checkbox>Veteran</nb-checkbox>
              </div>


            </div>
            <div class="row m-2">

              <div class="col-12">
                <nb-checkbox>Self Employed</nb-checkbox>
              </div>

            </div>

          </nb-card-body>

        </nb-card>

      </div>
      <div class="col-4">
        <nb-card size="large">
          <nb-card-body>
            <div class="row col-12 m-0">
              <fa-icon [icon]="fadollar" class="pr-1" size="1x"></fa-icon>
              <label>Loan Information</label>
            </div>
            <div class="row">
              <div class="col-12 p-1 form-group">
                <label for="termId" class="p-1 label">Term</label>
                <input fieldSize="medium" id="termId" fullWidth nbInput placeholder="Term" type="text"/>
              </div>
            </div>
            <div class="row">
              <div class="col-12 p-1 form-group">
                <label for="loanPurposeId" class="p-1 label">Loan Purpose</label>
                <nb-select fullWidth shape="rectangle" [(ngModel)]="quickQuote.transactionType" id="loanPurposeId"
                           #purposeType="ngModel" name="purposeType" size="medium" placeholder="Purpose"
                >
                  <nb-option *ngFor="let purposeItem of purposeTypeTaxonomy.taxonomyItems"
                             [value]="purposeItem.key">{{purposeItem.value}}</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="row">
              <div class="col-6 p-1 form-group">
                <label for="purchasePriceId" class="p-1 label">Purchase Price</label>
                <input fieldSize="medium" id="purchasePriceId" fullWidth nbInput placeholder="Purchase Price"
                       type="text"/>
              </div>
              <div class="col-6 p-1 form-group">
                <label for="appraisedValue" class="p-1 label">Appraised Value</label>
                <input fieldSize="medium" id="appraisedValue" fullWidth nbInput placeholder="Appraised Value"
                       type="text"/>
              </div>
            </div>
            <div class="row">
              <div class="col-6 p-1 form-group">
                <label for="loanAmountId" class="p-1 label">Loan Amount</label>
                <input fieldSize="medium" id="loanAmountId" fullWidth nbInput placeholder="Loan Amount" type="text"/>
              </div>
              <div class="col-6 p-1 form-group">
                <label for="ltvid" class="p-1 label">LTV</label>
                <input fieldSize="medium" id="ltvid" fullWidth nbInput placeholder="LTV" type="text"/>
              </div>
            </div>

          </nb-card-body>

        </nb-card>
      </div>
      <div class="col-4">
        <nb-card size="large">
          <nb-card-body>
            <div class="row col-12 m-0">
              <fa-icon [icon]="faHome" class="pr-1" size="1x"></fa-icon>
              <label>Property</label>
            </div>
            <div class="row">
              <div class="col-12 p-1 form-group">
                <label for="occupancyTypeId" class="p-1 label">Occupancy</label>
                <nb-select fullWidth shape="rectangle" [(ngModel)]="quickQuote.occupancyType" id="occupancyTypeId"
                           #occupanyType="ngModel" name="occupanyType" size="medium" placeholder="Occupancy"
                >
                  <nb-option *ngFor="let occupancyItem of occupancyTaxonomy.taxonomyItems"
                             [value]="occupancyItem.key">{{occupancyItem.value}}</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="row">
              <div class="col-12 p-1">
                <label for="propertyTypeId" class="p-1 label">Property Type</label>
                <nb-select fullWidth shape="rectangle" [(ngModel)]="quickQuote.propertyValue" id="propertyTypeId"
                           #propertyType="ngModel" name="propertyType" size="medium" placeholder="Property Type"
                >
                  <nb-option *ngFor="let propertyTypeItem of propertyInfoTaxonomy.taxonomyItems"
                             [value]="propertyTypeItem.key">{{propertyTypeItem.value}}</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="row">
              <div class="col-12 p-1">
                <label for="numberOfUnitsId" class="p-1 label">Number of Units</label>
                <input fieldSize="medium" id="numberOfUnitsId" fullWidth nbInput placeholder="Number of Units"
                       type="text"/>
              </div>
            </div>
            <div class="row">
              <div class="col-12 p-1">
                <label for="autoCompleteId" class="p-1 label">Zip Code</label>
                <AutocompleteComponent   (setAddress)="getAddress($event)" adressType="(regions)"  id="autoCompleteId" #autoCompleteId   ></AutocompleteComponent>
              </div>

            </div>
          </nb-card-body>
        </nb-card>

      </div>

    </div>

  </nb-card-body>
</nb-card>

