<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="text-left col-md-4 "><a href="#" (click)="backClicked($event)">
        <nb-icon icon="arrow-back-outline"></nb-icon>
        Previous</a></div>
      <div class="text-left col-md-8 ">
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <fieldset class="border p-2">
      <legend class="w-auto">{{buttonDesc}}</legend>
       <div class="row py-3">
        <div class="col-md-12 text-center">
          Media Description :
          <input nbInput  type="text" name="mediaDesc" [(ngModel)]="mediaLocation.mediaDescription"
                 #mediaDesc="ngModel" required/>
        </div>
      </div>
      <div class="row py-3">
        <div class="col-md-12 text-center ">
          Media Type :
          <nb-select  [(ngModel)]="mediaLocation.formatType"   #mType="ngModel" required name="mType" id="mTypeId" size="small"  placeholder="Select Type"  (selectedChange)="mediaTypeChange()">
            <nb-option *ngFor="let item of formatTypeTaxonomy.taxonomyItems" [value]="item.key">{{item.description}}</nb-option>
          </nb-select>
        </div>
      </div>
       <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
        <div class="row py-3">
          <div class="col-md-12 text-center ">
            <input type="file" nbInput name="mediaFile" (change)="onFileSelect($event)" required
                   #mediaFile [accept]="acceptType" />
          </div>
        </div>
        <div class="row py-3" *ngIf="mediaLocation.formatType == '101'">
          <div class="col-md-12 text-center ">
            (Only video files of size less than 70MB)
          </div>
        </div>
        <br>
        <div class="row py-3">
          <div class="col-md-12 text-center">
            <button nbButton size="medium" type="submit" [nbSpinner]="loading"
                    nbSpinnerStatus="primary"
                    status="primary" [disabled]="fileSelected == false || mediaDesc.invalid || buttonPressed == true ">{{buttonDesc}}
            </button>
          </div>

        </div>
        <div class="row py-3" *ngIf="buttonPressed == true && loading == false">
          <div class="col-md-12 text-center ">
            <nb-alert status="success" >Media File uploaded successfully.</nb-alert>
          </div>
        </div>
        <div class="row py-3" *ngIf="buttonPressed == true && loading == false && uploadMessage">
          <div class="col-md-12 text-center ">
            <nb-alert status="success" >Media File upload failed.</nb-alert>
          </div>
        </div>
      </form>
    </fieldset>
  </nb-card-body>
</nb-card>



