<nb-card>
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <video *ngIf="isVideoFormat()"  title="Watch Video"  (click)="playVideo()" nbTooltip="Click to watch video"  class="video-circle" height="100%" width="100%"  onloadedmetadata="this.muted = false"  id="myVideo" #myVide >
      <source [src]="sanitizedURL()" type="video/mp4">
      <track label="English" kind="captions" srclang="en" src="" default>
    </video>
    <img [src]="videoURL" alt="Profile Photo" *ngIf="!isVideoFormat()">

  </nb-card-body>
  <nb-card-footer class="text-right">
    <button nbButton hero status="primary" (click)="dismiss()">Close</button>
  </nb-card-footer>
</nb-card>

