<nb-card accent="primary">
  <nb-card-header>

  </nb-card-header>
  <nb-card-body >
    <div class="row py-3">
       <fieldset class="border  rounded-lg col-12 " *ngIf="!globalService.getIsLockDesk()">
        <div *ngIf="authService.getUserFullName().includes('George')">
        <p>Price a Loan</p>
        <button ghost nbButton status="primary"  (click)="quickPricer()">
          Quick Pricer
        </button>
        </div>
        <p>Loan Pipeline has all your LendingPad Loans</p>
        <button ghost nbButton status="primary"  (click)="loanPipeline()">
          Loan Pipeline
        </button>



      </fieldset>
      <fieldset class="border  rounded-lg col-12 " *ngIf="globalService.getIsLockDesk()">
        <div *ngIf="authService.getUserFullName().includes('George')">
        <p>Price a Loan</p>
        <button ghost nbButton status="primary"  (click)="quickPricer()">
          Quick Pricer
        </button>
        </div>
         <p>Loan Pipeline has loans from all MLO's</p>
        <button ghost nbButton status="primary"  (click)="loanPipeline()">
          Loan Pipeline
        </button>
        <p>Lock Desk Pipeline will have all the loans that has some lock status</p>
        <button ghost nbButton status="primary"  (click)="lockLoanPipeline()">
          Lock Desk
        </button>


      </fieldset>

    </div>

  </nb-card-body>

</nb-card>


