<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="text-left col-md-4 "><a href="#" (click)="backClicked($event)"><nb-icon icon="arrow-back-outline"></nb-icon> Previous</a></div>
      <div class="text-left col-md-8 ">
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <fieldset class="border p-2">
      <legend  class="w-auto">Mortgage Broker Company</legend>
        <div class="form-group row mb-2">
            <label for="cnameid" class="label col-3 col-form-label">Company Name*</label>
            <div class="col-9">
              <input class="form-control mb-2" #cname="ngModel" name="cname" id="cnameid"
                     [(ngModel)]="brokerCompanyInfo.name"
                     type="text" nbInput  shape="rectangle" placeholder="Comapny Name"
              />

            </div>
          </div>
         <div class="form-group row mb-2">
          <label for="cTypeId" class="label col-3 col-form-label">Channel Type*</label>
          <div class="col-9">
            <nb-select  [(ngModel)]="brokerCompanyInfo.brokerCompanyDetailDTO.channelType"   #cType="ngModel" name="cType" required size="small"  placeholder="Channel Type" id="cTypeId"  >
              <nb-option *ngFor="let item of channelTypeTaxonomy.taxonomyItems" [value]="item.key">{{item.description}}</nb-option>
            </nb-select>

          </div>
        </div>
        <div class="form-group row mb-2">
          <label for="nmlsid" class="label col-3 col-form-label">NMLS*</label>
          <div class="col-9">
            <input class="form-control mb-2" #nmls="ngModel" name="nmls" id="nmlsid"
                   [(ngModel)]="brokerCompanyInfo.brokerCompanyDetailDTO.nmls"
                   type="text" nbInput  shape="rectangle" placeholder="NMLS"
            />

          </div>
        </div>
      <div class="form-group row mb-2">
        <label for="companyMarginId" class="label col-3 col-form-label">Company Margin %</label>
        <div class="col-3">
          <input  class="form-control mb-2" #companyMargin="ngModel" name="companyMargin" id="companyMarginId"
                  [(ngModel)]="brokerCompanyInfo.companyMargin"
                  type="number" nbInput  shape="rectangle"  placeholder="%"
          />

        </div>
        <div class="col-6 text-left" *ngIf="brokerCompanyInfo.companyUUID">
          <button  type="button" nbButton  status="primary"
                  size="tiny" (click)="showBreakUp()"><fa-icon size="1x" [icon]="info" class="m-0"></fa-icon></button>
        </div>


      </div>

      <div class="form-group  row mb-2" *ngIf="brokerCompanyInfo.companyUUID">
        <label  class="label col-3 col-form-label">Company Site URL </label>
        <label  class="label col-7 col-form-label">{{brokerCompanyLink}}</label>
        <nb-action class="label col-1 col-form-label" (click)="copyToClipboard(brokerCompanyLink)" icon="clipboard-outline" nbTooltip="Copy"></nb-action>
      </div>

        <div class="form-group row  mb-2">
          <div class="col-12 text-center" *ngIf="mode==='new'">
        <button class="m-2" type="button"  nbButton  status="primary" (click)="createCompany()" [disabled]="!brokerCompanyInfo.name
        || !brokerCompanyInfo.brokerCompanyDetailDTO.channelType || !brokerCompanyInfo.brokerCompanyDetailDTO.nmls"
                size="medium" [nbSpinner]="loading" nbSpinnerStatus="primary"><nb-icon icon="save-outline"></nb-icon>Create Company</button>

          </div>
          <div class="col-12 text-center" *ngIf="mode==='edit'">
            <button class="m-2" type="button" nbButton  status="primary" (click)="saveCompany()" [disabled]="!brokerCompanyInfo.name
        || !brokerCompanyInfo.brokerCompanyDetailDTO.channelType || !brokerCompanyInfo.brokerCompanyDetailDTO.nmls"
                    size="medium" [nbSpinner]="loading1" nbSpinnerStatus="primary"><nb-icon icon="save-outline"></nb-icon>Save Company</button>
            <button class="m-2" type="button" nbButton  status="primary" (click)="usersList()"
                    size="medium" [nbSpinner]="loading2" nbSpinnerStatus="primary"><nb-icon icon="save-outline"></nb-icon>MLO List</button>

          </div>
        </div>
    </fieldset>

      <div class="row ">
        <div class="col-12 text-center">
      <nb-alert accent="success"  *ngIf="successCreation" size="large" >
        Operation completed successfully.
      </nb-alert>
      <nb-alert accent="warning"  *ngIf="failureCreation" size="large" >
        Operation failed.
      </nb-alert>
        </div>
      </div>





  </nb-card-body>
</nb-card>



