<div class="row">
  <div class="col-md-6">
    <div class="" style="background-color: #F2C98A; height: 100%">
      <div class="text-center" style="padding: 100px 0 30px">
        <img src="assets/images/logo-blue.png" height="70" alt=""/>
      </div>
      <h1 class="text-center" style="color: #986923;">Welcome to Loan House</h1>
      <p class="text-center" style="color: #986923;">Discover Loan House
      <br>with great build tools</p>
      <div class="" style="background-image: url(assets/images/checkout.png);min-height: 350px!important;background-size: contain;background-repeat: no-repeat;background-position: center;"></div>
    </div>
  </div>
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>