<nb-card class="dialogFS" style="width: 900px;height:100%;top: 5%;position: relative;">
  <nb-card-header>
    <div class="row">
      <div class="col-lg-2 d-none d-md-inline"><a href="#" (click)="backClicked($event)">< Previous</a></div>
      <div class="text-left col-md-4 "><a hidden id="refreshButtonId" href="#" (click)="refreshGrid($event)">
        <nb-icon icon="refresh-outline"></nb-icon>
      </a></div>


    </div>
  </nb-card-header>
  <nb-card-body [nbSpinner]="loading" nbSpinnerStatus="basic">
    <div class="row head">
      <div class="col-md-12 nmls text-left d-none d-md-inline-block">

        <div class="row text-right">
          <div class="col-md-6 nmls text-left d-none d-md-inline-block" style="padding-top: 10px;padding-left: 55px;">
            <img src="assets/images/investor/{{investorName(product?.investorId)?.name}}.png"
                 style="width: 80%; max-width: 115px"><br>
            <span
              style="line-height: 35px;font-size: 0.8rem;display: inline-flex;">NMLS #{{investorName(product?.investorId)?.nmls}}
              <star-rating [value]="investorName(product?.investorId)?.numberOfStars" totalstars="5"
                           checkedcolor="#ffbf00" uncheckedcolor="white" size="18px" readonly="true"
                           style="line-height: 32px; padding-left: 9px;"></star-rating>
                </span>
          </div>
          <div class="col-md-3 text-right d-none d-md-inline-block offset-md-3 block floating-video">

          </div>
        </div>
      </div>
    </div>
    <div class="bottom-box">
      <div class="text-center">
        <b>The below rates and prices are based on an interest rate lock expiring on:</b>
      </div>
      <div class="text-center pt-2 pb-2">
        <nb-select fullWidth style="width:400px !important" [(ngModel)]="rateLockFilterSelected" size="small"
                   placeholder="Select" (click)="onRateLockFilterSelect()">
          <nb-option *ngFor="let rlock of rateLockFilterList" [value]="rlock.key">{{rlock.value}}</nb-option>
        </nb-select>
      </div>
      <div>
        <div class="col-md-6 nmls text-center d-md-none pt-2 pb-2">
          <img src="assets/images/investor/{{investorName(product?.investorId)?.name}}.png"
               style="width: 80%; max-width: 105px">
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1 prodName">
          <h6>{{product_detail?.productName}}</h6>
        </div>
      </div>
      <span class="d-none d-md-inline">
        <div class="row">
          <div class="col-md-3 offset-md-1">
            Loan Amount:
          </div>
          <div class="col-md-2">
           {{loanInfo?.loanAmount | number : '1.2-2'}}
          </div>
          <div class="col-md-3">
            Purchase Price/Value
          </div>
          <div class="col-md-2">
          {{loanInfo?.purchasePrice | number : '1.2-2'}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 offset-md-1">
            Transaction Type:
          </div>
          <div class="col-md-2">
          {{loanInfo.purpose.name}}
          </div>
          <div class="col-md-3">
            LTV / CLTV:
          </div>
          <div class="col-md-2">
          {{loanInfo?.ltvRatioPercent |number : '1.3-3' }}
            /{{loanInfo?.combinedLtvRatioPercent |number : '1.3-3'}}
          </div>
        </div>
          <div class="row">
          <div class="col-md-3 offset-md-1">
            Credit Score:
          </div>
          <div class="col-md-2">
          {{loanInfo?.creditScore}}
          </div>
          <div class="col-md-3">
            MLO:
          </div>
          <div class="col-md-2">
            {{userMLO?.firstName}}&nbsp;{{userMLO?.lastName}}
          </div>

        </div>
          <br><br></span>

    </div>


    <!-- desktop starts here -->
    <span class="d-none d-xl-inline">
        <div class="row" *ngIf="!loading">
          <div class="col-md-10 offset-md-1 tabl">
              <table class="table table-sm table-responsive-md table-striped table-hover"
                     style="display: table;table-layout: fixed;overflow-x: hidden;max-width: 100%;">
              <tbody>
                <tr class="text-right">
                  <th scope="col" class="text-center" style="width: 66px;">Make<br>Selection</th>
                  <th scope="col" class="text-center">Interest<br>Rate</th>
                  <th scope="col" class="text-center">Monthly<br>Payment</th>
                  <th scope="col" class="text-center" style="padding-left:10px;">Charge to<br>Obtain Rate</th>
                  <th scope="col" class="text-center">Credit for<br>Selecting Rate</th>
                  <th scope="col" class="text-center">APR</th>
                  <th scope="col" class="text-center">Price</th>
                  <th *ngIf="priceTesting" scope="col" class="text-center">I Margin</th>
                  <th *ngIf="priceTesting" scope="col" class="text-center">M Margin</th>
                  <th *ngIf="priceTesting" scope="col" class="text-center">C Margin</th>
                  <th *ngIf="priceTesting" scope="col" class="text-center">Is MLO</th>
                  <th *ngIf="priceTesting" scope="col" class="text-center">Is Company</th>
                </tr>
                <ng-container *ngFor="let quote of product_detail.quotes; let i=index;">
                  <ng-container *ngIf="quote?.price != 100">
                    <tr class="text-right" *ngIf="rateLockFilterSelected == quote?.lockPeriod">
                      <td scope="row" class="text-center" style="padding-left: 24px;">
                        <nb-radio-group [(ngModel)]="rateIndexSelected" (ngModelChange)="onSelectRate($event)"
                                        name="interestRate"><nb-radio [value]="i"></nb-radio></nb-radio-group>
                      </td>
                      <td class="text-center">{{quote?.rate |  number:'1.3-3'}}%</td>
                      <td
                        class="text-center">{{quote?.principalAndInterest |  currency: 'USD' : 'symbol' : '1.0-0'}}</td>
                      <td class="text-center">{{quote?.discountDollar | currency: 'USD' : 'symbol' : '1.0-0'}}</td>
                      <td class="text-center">{{quote?.rebateDollar | currency: 'USD' : 'symbol' : '1.0-0'}}</td>
                      <td class="text-center">{{quote?.apr | number:'1.3-3'}}%</td>
                      <td class="text-center">{{quote?.price | number:'1.3-3'}}%</td>
                      <td *ngIf="priceTesting" class="text-center">{{quote?.investorLevelMargin}}</td>
                       <td *ngIf="priceTesting" class="text-center">{{quote?.mloLevelMargin}}</td>
                       <td *ngIf="priceTesting" class="text-center">{{quote?.companyLevelMargin}}</td>
                       <td *ngIf="priceTesting" class="text-center">{{quote?.mlopricingMarginApplied}}</td>
                      <td *ngIf="priceTesting" class="text-center">{{quote?.companyPricingMarginApplied}}</td>

                    </tr>
                    </ng-container>
                </ng-container>


              </tbody>
            </table>
          </div>
        </div>

          <div class="row">
          <div class="col-md-12 text-center" style="padding: 0 15px 0 15px;">
            <nb-card style="overflow: hidden;cursor: pointer;width: 150px;display: inline-block;margin: 10px;"
            >
              <nb-card-body style="padding: 1rem .5rem;" (click)="backClicked($event)">
                <div class="text-center">
                  <img src="assets/images/icons/consequences.png" style="width:65px; height: 65px;margin-top: 10px;">
                </div>
                <div style="display: table; width: 100%; height: 25px;">
                  <div style="display: table-cell; font-size: .8rem;"
                       class="text-center font-weight-bold align-bottom ">Nope, not ready yet</div>
                </div>
              </nb-card-body>
            </nb-card>

            <nb-card *ngIf="radioButtonrateSelected"
                     style="overflow: hidden;cursor: pointer;width: 150px;display: inline-block;margin: 10px;"
                     (click)="requestRateLock()" [nbSpinner]="isRateLockRequestloading" nbSpinnerStatus="basic" >
              <nb-card-body style="padding: 1rem .5rem;" >
                <div class="text-center">
                  <img src="assets/images/icons/implications.png" style="width:65px; height: 65px;margin-top: 10px;">
                </div>
                <div style="display: table; width: 100%; height: 25px;" *ngIf="requestType=='101'">
                  <div style="display: table-cell; font-size: .8rem;" class="text-center font-weight-bold align-bottom" >Yes, Request Rate Lock</div>
                </div>
                <div style="display: table; width: 100%; height: 25px;" *ngIf="requestType=='102'">
                  <div style="display: table-cell; font-size: .8rem;" class="text-center font-weight-bold align-bottom" >Yes, Lock Loan</div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>

        </div>
       <div class="row ">
        <div class="col-12 text-center">
      <nb-alert accent="success"  *ngIf="isRateLockRequestComplete" size="medium" >
        Rate Lock requested successfully.
      </nb-alert>
      <nb-alert accent="warning"  *ngIf="isRateLockRequestFailed" size="medium" >
        Operation failed.
      </nb-alert>
        </div>
      </div>
        </span>



  </nb-card-body>
</nb-card>
