<nb-card size="large" >
  <nb-card-header>
    <div class="text-left col-md-4 "><a href="#" (click)="backClicked($event)"><nb-icon icon="arrow-back-outline"></nb-icon> Previous</a></div>
    <div class="container col-md-8 text-center">
      All Mortgage Broker Companies
    </div>
  </nb-card-header>
  <nb-card-body class="host">

    <div class="text-left">
      <button nbButton status="primary" (click)="newBrokerCompany()" >
        <fa-icon size="1x" [icon]="cart" class="m-1"></fa-icon>
        Create New Broker Company
      </button>
    </div>
    <br>
    <div class="text-left">
      <input class="form-control"
             [(ngModel)]="searchValue"
             type="text" nbInput  shape="rectangle" placeholder="Filter"
      />
    </div>

    <ag-grid-angular
      style="width: 1025px; height: 350px;"
      #grid
      class="ag-theme-alpine"
      [rowData]="rowData | async"
      [columnDefs]="columnDefs"
      [pagination]="true"
      rowSelection="multiple"
      paginationPageSize="100"
      debounceVerticalScrollbar=true
      enableCellTextSelection=true
      [quickFilterText]="searchValue"
      (rowClicked)="onRowClick($event)"


    >
    </ag-grid-angular>
  </nb-card-body>
</nb-card>








