<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="text-left col-md-4 "><a (click)="backClicked($event)" href="#">
        <nb-icon icon="arrow-back-outline"></nb-icon>
        Previous</a></div>
      <div class="text-left col-md-8 ">
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
<fieldset>
  <legend class="w-auto">Add Investor</legend>
  <div class="form-group  row mb-2" >
    <label  class="label col-3 col-form-label">OB Investor Id*</label>
    <div class="col-9">
      <input class="form-control" #invId="ngModel" [(ngModel)]="newInvestor.investorId" name="invId"
             id="inv" nbInput type="number" shape="rectangle"  placeholder="OB Investor ID" />
    </div>
  </div>
  <div class="form-group  row mb-2" >
    <label  class="label col-3 col-form-label">OB Investor Name*</label>
    <div class="col-9">
      <input class="form-control" #invName="ngModel" [(ngModel)]="newInvestor.investorName" name="invName"
             id="invNameName" nbInput type="text" shape="rectangle"  placeholder="ABC" />
    </div>
  </div>
  <div class="form-group  row mb-2" >
    <label  class="label col-3 col-form-label">NMLS*</label>
    <div class="col-9">
      <input class="form-control" #nmls="ngModel" [(ngModel)]="newInvestor.nmls" name="nmls"
             id="nmlsid" nbInput type="text" shape="rectangle"  placeholder="NMLS" />
    </div>
  </div>
  <div class="form-group  row mb-2" >
    <label  class="label col-3 col-form-label">Star Rating*</label>
    <div class="col-9">
      <input class="form-control" #starRating="ngModel" [(ngModel)]="newInvestor.starRating" name="starRating"
             id="starRatingId" nbInput type="text" shape="rectangle"  placeholder="Star Rating" />
    </div>
  </div>
  <div class="form-group  row mb-2">
    <label  class="label col-3 col-form-label">Channel Type*</label>
    <div class="col-9">
    <nb-select  [(ngModel)]="newInvestor.channelType"   #cType="ngModel" name="cType" required size="small"  placeholder="Channel Type*" id="cTypeId"  >
      <nb-option *ngFor="let item of channelTypeTaxonomy.taxonomyItems" [value]="item.key">{{item.description}}</nb-option>
    </nb-select>
    </div>

  </div>
  <div class="form-group  row mb-2">
    <label  class="label col-3 col-form-label">Investor Logo</label>
    <div class="col-9">
      <nb-select  [(ngModel)]="newInvestor.mediaId"   #mediaId="ngModel" name="mediaId" required size="small"  placeholder="Investor Logo"    >
        <nb-option *ngFor="let location of mediaLocations" [value]="location.mediaId">{{location.mediaDescription}}</nb-option>
      </nb-select>
      <button class="col-1" *ngIf="newInvestor.mediaId" type="button" nbButton  ghost (click)="openInvestorLogo()"><fa-icon size="1x" [icon]="facamera" class="m-1" ></fa-icon></button>

    </div>


  </div>
  <div class="col-12 text-right m-2">
    <button nbButton size="medium" type="button" (click)="saveNewInvestor()"
            [nbSpinner]="loading" nbSpinnerStatus="primary" [disabled]="!newInvestor.investorId || !newInvestor.channelType || !newInvestor.investorName"
            status="primary" >Save
    </button>
  </div>
</fieldset>
    <nb-alert accent="info" *ngIf="errorMessage && errorMessage.length >0"  size="tiny" >
      {{errorMessage}}
    </nb-alert>


  </nb-card-body>
</nb-card>




