
<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="text-left col-md-4 "><a href="#" (click)="backClicked($event)"><nb-icon icon="arrow-back-outline"></nb-icon> Previous</a></div>
      <div class="text-left col-md-8 ">



      </div>
    </div>
  </nb-card-header>
  <nb-card-body>

    <fieldset class="border p-2">
      <legend  class="w-auto">Company Site Media</legend>

      <form class="container m-2" #form="ngForm"
      >

        <div class="form-group row">
          <div class="col-md-6">Welcome Screen Video</div>
          <div class="col-md-4">
            <nb-select  [(ngModel)]="welcomeScreenUserMedia.mediaId"   #mLocation="ngModel" required name="mLocation" id="mLocationId" size="small"  placeholder="Select Video"  (selectedChange)="mediaSelected()">
              <nb-option *ngFor="let mediaLoc of mediaLocations" [value]="mediaLoc.mediaId">{{mediaLoc.mediaDescription}}</nb-option>
            </nb-select>
            <button *ngIf="welcomeScreenUserMedia.mediaId" type="button" nbButton  ghost (click)="openVideo()"><fa-icon size="1x" [icon]="video" class="m-1" ></fa-icon></button>

          </div>
          <div class="col-md-2">
            <button nbButton type="button" (click)="saveUserMedia()"><nb-icon icon="save-outline"></nb-icon>Save</button>
          </div>

        </div>
        <div class="form-group row">
          <div class="col-md-6">Profile Photo</div>
          <div class="col-md-4">
            <nb-select  [(ngModel)]="profileUserMedia.mediaId"   #pmLocation="ngModel" required name="pmLocation" id="pmLocationId" size="small"  placeholder="Select Photo"  (selectedChange)="photoSelected()">
              <nb-option *ngFor="let photomediaLoc of profilePhotomediaLocations" [value]="photomediaLoc.mediaId">{{photomediaLoc.mediaDescription}}</nb-option>
            </nb-select>
            <button *ngIf="profileUserMedia.mediaId" type="button" nbButton  ghost (click)="openImage()"><fa-icon size="1x" [icon]="facamera" class="m-1" ></fa-icon></button>

          </div>
          <div class="col-md-2">
            <button nbButton type="button" (click)="saveProfileUserMedia()"><nb-icon icon="save-outline"></nb-icon>Save</button>
          </div>

        </div>
        <div class="form-group row mb-2">
          <div class="col-12 text-center" *ngIf="buttonPressed && !loading ">
            <br>
            <br>
            <nb-alert accent="info"  *ngIf="errorMessage.length==0 && (welcomeScreenUserMedia.brokerCompanyMediaId > 0 || profileUserMedia.brokerCompanyMediaId > 0)" size="tiny" >
              Operation completed successfully.
            </nb-alert>
            <nb-alert accent="info" *ngIf="errorMessage.length > 0" size="tiny" >
              Operation failed...
            </nb-alert>

          </div>


        </div>


      </form>
    </fieldset>

  </nb-card-body>
</nb-card>





